<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генерация картинки</title>
</head>
<body>
    <h1>Созданые картинки</h1>
    {% for img in images %}
        <img width="200px" src="{{ img.image.url }}" alt="Generated Image">
        <a href="{{ img.image.url }}" download>
            <button>Скачать картинку</button>
        </a>

    {% endfor %}

    <p>Текст: {{ text }}</p>
</body>
</html>